
FirstDemo/.idea/

FirstDemo/.plastic/

FirstDemo/Library/

FirstDemo/Logs/

FirstDemo/obj/

FirstDemo/Sirenix.OdinInspector.Modules.UnityMathematics.csproj

FirstDemo/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj

FirstDemo/Sirenix.OdinInspector.CompatibilityLayer.csproj

FirstDemo/ignore.conf

FirstDemo/Assembly-CSharp.csproj

FirstDemo/FirstDemo.sln

FirstDemo/Assembly-CSharp-firstpass.csproj

FirstDemo/Assembly-CSharp-Editor.csproj

FirstDemo/Assembly-CSharp-Editor-firstpass.csproj
